{% extends "base.html" %}

{% block body %}

  <div class="container">

        <div class="hero-unit">

        <h3>About geotherm.ai</h3>
          <p><strong>What?</strong> This web app doesn't do much.</p>

          <p><strong>Whence?</strong> Some people hacked it together at the Geothermal Hackathon.</p>

          <p><strong>Examples</strong> All of the results come from analysis of the <a href="https://pangea.stanford.edu/ERE/db/IGAstandard/search.php">IGA bibliographic database</a>. Here are some things this web app might do one day:</p>

          <ol>
            <li>Geospatial analysis of the articles based on automatic geolocation of the articles. Check out <a href="/map">the map</a>.</li>
            <li>Keyword search based on <a href="https://en.wikipedia.org/wiki/Latent_semantic_analysis">latent semantic analysis</a> (LSA) of the abstracts. </li>
            <li>Analysis of the clusters of LSA keywords.</li>
            <li>Generation of random geothermal papers based on an LSTM neural network trained on the titles.</li>
            <li>Graph theoretic analysis of the co-authorship network.</li>
          </ol>

      </div>

  </div>

{% endblock %}
