<div class="nav-collapse">
<ul class="nav">
  <li><a href="https://www.pythonanywhere.com/"><strong>geotherm.ai</strong></a></li>
  <li><a href="https://www.pythonanywhere.com/about">About</a></li>
  <li><a href="https://www.pythonanywhere.com/api">API</a></li>
</ul>
<ul class="nav pull-right">
  <li><a href="http://geotherm.ai/">geotherm.ai</a></li>
</ul>
<!--
<ul class="nav pull-right">
  <li id="fat-menu" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  More
	  <b class="caret"></b>
	  </a>
	<ul class="dropdown-menu">
	  <li><a href="mailto:hello@softwareunderground.org">Email us</a></li>
	  <li><a href="http://softwareunderground.org/">Visit us</a></li>
	  <li class="divider"></li>
	  <li><a href="#">Version 0.1</a></li>
	  <li><a href="#">May 2020</a></li>
	</ul>
  </li>
</ul>
-->
</div>
